go 1.18

use (
	./core
	./examples/todolist
	./oteleventually
	./postgres
	./serdes
)

replace (
	github.com/get-eventually/go-eventually/core v0.0.0-20230213095413-67475c43eea4 => ./core
	github.com/get-eventually/go-eventually/core v0.0.0-20230301093954-efadfc924ad7 => ./core
	github.com/get-eventually/go-eventually/serdes v0.0.0-20230227215702-6ac2a4505ce1 => ./serdes
)
